#upload {position: relative; width:500px;}
#upload table {width:99%;border-collapse:collapse;}
#upload table th{width:30px;padding:5px;background:#c2c2c2;font-size:13px;}
#upload table td {width:30px;padding:5px;background:#ebebeb;text-align:center;}
#upload table .upload-done td {color:#007236;background:#e4fddf;}
#upload table .upload-failed td {color:#CD0A0A;background:#FEF1EC;}
#upload table .upload-uploading td {color:#1b93be;background:#cdf3ff;font-weight:bold;}
#upload table .upload-file-name {width:150px;text-align:left;}
#upload table .upload-file-action {width:20px;}
#upload .upload-buttons {margin-top:8px;}
#upload .upload-droptext {padding:25px;}
#upload p,
#upload td,
#upload th {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
#upload p.upload-desc {
	padding-bottom:10px;
}
#upload th.upload-file-name {
	text-align:left;
}
#upload .upload-status table {border-top:1px solid #a0a0a0;}
#upload .upload-upload-status {font-weight:bold;}
#upload .upload-filelist td {
	background:#c2c2c2;
}
#upload .upload-notify {
	margin: 0 5px 5px 0;
}
#upload .upload-info,
#upload .upload-error {
	background: #FEF1EC;
	border: 1px solid #CD0A0A;
	color: #CD0A0A;
}
#upload .upload-icon {
	cursor: pointer;
	display:inline-block;
	height: 16px;
	width: 16px;
	margin:0 auto;
}
#upload .upload-notify p {
	margin: 4px;
}
#upload .upload-notify p .upload-icon {
	margin: 0 5px -2px 0;
	cursor: text;
}
#upload .upload-close {
	float:right;
}
#upload .upload-check {
	background:url("../images/icon-16-done.png");
}
#upload .upload-alert {
	background:url("../images/icon-16-fail.png");
}
#upload .upload-info,
#upload .upload-arrow {
	background:url("../images/icon-16-upload.png");
}
#upload .upload-close,
#upload .upload-minus {
	background:url("../images/icon-16-queue.png");
}
#upload .button {
	display: inline-block;
	zoom: 1;
	vertical-align: baseline;
	margin: 0 2px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
	font-size: 12px;
	padding: .4em 1.5em .42em;
	color: #E9E9E9;
	border: solid 1px #555;
	background: #6E6E6E;
	background: -webkit-gradient(linear, left top, left bottom, from(#888), to(#575757));
	background: -moz-linear-gradient(top, #888, #575757);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#888', endColorstr='#575757');
}
#upload .button:hover {
	background: #616161;
	background: -webkit-gradient(linear, left top, left bottom, from(#757575), to(#4b4b4b));
	background: -moz-linear-gradient(top,  #757575,  #4b4b4b);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#757575', endColorstr='#4b4b4b');
}
#upload .button:active {
	color: #afafaf;
	background: -webkit-gradient(linear, left top, left bottom, from(#575757), to(#888));
	background: -moz-linear-gradient(top,  #575757,  #888);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#575757', endColorstr='#888888');
}
#upload .upload-hidden {
	display: none;
}